{% extends 'main.html' %}

{%block content%}
<div class="flex justify-center items-center mt-40">
    <div>
        <div class="ml-5 text-xl md:text-3xl uppercase">If you logout now you will lose the guest account and your data
        </div>
        <div class="text-center my-5">
            <a href="{%url 'home'%}">
                <button class="dark:bg-gray-900 bg-gray-400 text-white px-5 py-2 rounded">Go Back</button>
            </a>
            <a href="{%url 'guest_user_convert'%}">

                <button type="button"
                    class="text-white bg-gradient-to-r from-green-400 via-green-400 to-primary-glow-green hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Convert
                    Account</button>
            </a>
            <a href="{%url 'logout'%}">

                <button type="button"
                    class="text-white bg-gradient-to-r from-red-600 via-red-600 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Logout</button>
            </a>
        </div>
    </div>
</div>
{%endblock%}
